/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lexend:wght@400;500&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {
	/*========== Colors ==========*/
	--first-color: hsl(30, 16%, 50%);
	--text-color: #fff;
	--text-color-black: hsl(30, 8%, 15%);
	--body-color: hsl(30, 100%, 98%);

	/*========== Font and typography ==========*/
	--body-font: 'Barlow', sans-serif;
	--h3-font-size: 1rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
	:root {
		--h3-font-size: 1.125rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
	}
}

/*=============== BASE ===============*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--body-font);
	background-color: var(--body-color);
}

img {
	max-width: 100%;
	height: auto;
}

/*=============== GALLERY ===============*/
.gallery {
	max-height: 100vh;
	display: grid;
	overflow-y: hidden;
	overflow-x: hidden;
	/* align-content: center; */
	justify-content: center;
	background-color: rebeccapurple
}




.gallery__overflow {
	/* height: calc(100vh / 100 * 30); */
	position: relative;
	bottom: 0%;
	left: 50%;
	/* transform: translate(-50%, -50%); */
	transform: translateX(-50%);
	
}

.gallery__thumbnail {
	position: relative;
	width: 60px;
	height: 60px;
	border-radius: 1.5rem;
	overflow: hidden;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	transition: transform 0.3s;
}
.gallery-overview{
	height: calc(100vh /100 * 70);
	position: relative;
}
.gallery-overview > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
} 

/* .gallery__thumbnail-img {
	position: absolute;
	inset: 0;
	margin: auto;
} */

/* Swiper class */
.gallery-cards,
.gallery-thumbs,
.gallery-overview,
.gallery-detail {
	max-width: 428px;
}

.gallery-cards:hover .gallery__img {
	transform: scale(1.1);
}

.gallery .swiper-wrapper {
	padding: 1.5rem 0;
}

.gallery-thumbs, .gallery-detail {
	max-width: 428px;
	height: 100%;
	padding: 15px 0px 15px 16px;
	overflow-y: hidden;
	background: #FFFFFF;
	border-radius: 36px 36px 0px 0px;
}

.list-color{

}
.color-item{
	width: 32px !important;
	height: 32px;
	border-radius: 50%;
	margin-right: 20px;
}
.active-color{
	border: 5px solid rgba(179, 179, 179, 0.7);
	width: 40px !important;
	height: 40px;
	border-radius: 50%;
	margin-right: 20px;


}
/* Active thumbnail */
.swiper-slide-active .gallery__thumbnail {
	transform: translateY(-1.25rem) scale(1.2);
}

/* Rotate thumbnail */
.swiper-slide-next .gallery__thumbnail {
	/* transform: rotate(15deg); */
}

.swiper-slide-prev .gallery__thumbnail {
	/* transform: rotate(-15deg); */
}

/* Sliding numbers */
.swiper-pagination-fraction {
	font-size: var(--small-font-size);
	letter-spacing: -1px;
	font-weight: 500;
	color: var(--first-color);
	bottom: 0;
}

/* Arrow buttons */
.swiper-button-next::after,
.swiper-button-prev::after {
	content: "";
}

.swiper-button-next,
.swiper-button-prev {
	font-size: 1.5rem;
	color: var(--text-color-black);
	top: 5.5rem;
}

.swiper-button-next {
	right: -1.5rem;
	/* transform: rotate(15deg); */
}

.swiper-button-prev {
	left: -1.5rem;
	/* transform: rotate(-15deg); */
}

/* Other swiper settings */
.gallery-cards::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
	scroll-snap-type: initial;
}
.show-detail{
	width: 48px;
	height: 6px;
	background: #000000;
    opacity: 0.3;
    border-radius: 24px;
}
.filter-item{
    font-weight: 500;
	font-size: 16px;
	color: #A3A3A3;
}
.active-filter{
	background: #FFEBDF;
	border-radius: 24px;

}
.title{
	font-weight: 500;
	font-size: 16px;
	color: #303030;
}
.overview-content{

}
.btn-buy-bow{
	width: 291px;
	height: 72px;
	background: linear-gradient(180deg, #FF7A00 0%, #FF004D 100%);
	border-radius: 40px;
	border: none;
	color: #ffffff;
	font-weight: 700;
	font-size: 20px;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
	.swiper-button-next,
	.swiper-button-prev {
		display: none;
	}
}
@media screen and (max-width: 400px) {
	.gallery-thumbs{
		padding-left: 30px;
	}
}
@media screen and (max-width: 380px) {
	.gallery__overflow{
		bottom: 8%;
	}
}

/* For medium devices */
@media screen and (min-width: 1024px) {
	.gallery__card {
		width: 220px;
		height: 290px;
	}
	.gallery__thumbnail {
		width: 65px;
		height: 65px;
	}
	.gallery-cards,
	.gallery-thumbs,
	.gallery-overview,
	.gallery-detail
	{
		max-width: 428px;
	}
}
