/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lexend:wght@400;500&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {
	/*========== Colors ==========*/
	--first-color: hsl(30, 16%, 50%);
	--text-color: #fff;
	--text-color-black: hsl(30, 8%, 15%);
	--body-color: hsl(30, 100%, 98%);

	/*========== Font and typography ==========*/
	--body-font: 'Barlow', sans-serif;
	--h3-font-size: 1rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;
	--dynamic-height: 0;
	--bottom-action: 0;
	--detail-height: 29%;
	--bg-brow: #730000

	
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
	:root {
		--h3-font-size: 1.125rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
	}
}

/*=============== BASE ===============*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--body-font);
	background-color: var(--body-color);
	overflow: hidden;
}

.bg-brow{
	background-color: var(--bg-brow)
}

img {
	max-width: 100%;
	height: auto;
}
/* .test {
	height: 50px;
} */

/*=============== GALLERY ===============*/
.gallery {
	height: 100vh;
	/* max-width: 426px; */
	display: grid;
	overflow-y: hidden;
	overflow-x: hidden;
	/* align-content: center; */
	justify-content: center;
	background-color: #ffffff;
}
.sidebar{
	position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
	/* z-index: 2; */
	background-image: url(./assets/image/bg-navbar.png);
	background-size: cover;
	/* backdrop-filter: blur(25px); */
	background-color: rgba(0, 0, 0, 1);
	transform: translateX(-100%);

}
.open{
	opacity: 1;
	z-index: 3;
 	animation: appear 0.3s linear;
	transform: translateX(0%);

}
.hidden{
	z-index: 2;
	animation: appear2 0.3s linear;
	transform: translateX(-100%);


}

.swiper-container {
	/* width: 100%; */
	height: 100%; /* Định dạng chiều cao tùy ý */
}


.nav-item{
	/* height: 145px !important; */
	padding: 0 32px 0 22px;
}
.nav-detail{
	height: 80%;
	width: 100%;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
	border-radius: 24px;
}
.detail-image{
	position: absolute;
	top: -15px;
}
  



.gallery__overflow {
	position: relative;
	max-height: 100%;
	/* transition: transform 1s ease-in-out; */
	transform: translateY(var(--dynamic-height));
	
	
}
.gallery__thumbnail-wrapper{
	width: 85px;
	height: 85px;
	border-radius: 50%;
	
}
.swiper2{
	height: 111px;
}
.gallery__thumbnail {
	position: relative;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	transition: transform 0.3s;
}
.gallery__thumbnail-img{
	width: 75px;
	height: inherit;
	object-fit: cover;
}
.active-slide-item{
	border: 1px solid #FF7A00;
}
.active-nav-item{
	border: 1px solid #FF7A00;
}

.gallery-overview{
	/* height: calc(100vh /100 * 80); */
	height: 100vh;
	position: relative;
	background-color: rgb(212, 194, 194);
	/* background-image: url("https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80");
	background-size: cover; */
}
.overview-header{
	height: 50px;
	width: 100%;
	background: rgba(29, 29, 29, 0.1);
	/* box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.3); */
	backdrop-filter: blur(10px);
	position: fixed;
}
.header-left > img,
.header-right > img{
	width: 24px;
	height: 24px;
	object-fit: cover;
}
.btn-shopping{
	position: absolute;
	top: 60px;
	right: 5px;
}
.img-btn{
	width: 64px ;
	height: 64px;
}
.gallery-overview > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* modal */
.modal-container{
	position: absolute;
	padding: 0 10px;
	z-index: 0;
	width: 90%;
	height: 80%;
	background-color: #ffffff;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.45);
	border-radius: 24px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	opacity: 0;



}
.hidden-modal{
	animation: modal-out 0.5s linear;
	opacity: 0;
	z-index: 0;
	visibility: hidden;

}
.show-modal{
	animation: modal-in 0.5s linear;
	opacity: 1;
	z-index: 3;
}
.btn-skip{
	font-family: 'Barlow' !important;
	font-weight: 400 !important;
	font-size: 24px !important;
	color: #FF7A00 !important;
}
.title-modal{
	font-family: 'Barlow';
	font-weight: 400;
	font-size: 24px;
	color: #303030;
}
.modal-content-wrapper{
	height: 80%;
}
.modal-content-img{
	height: inherit;
	width: 100%;
	/* object-fit: cover; */

}

.overview-action{
	position: absolute;
	width: 100%;
	/* height: 144px; */
	bottom: var(--bottom-action)
}
.action-camera-wrapper{
	width: 72px;
	height: 72px;
	border: 1px solid #FFFFFF;
	border-radius: 50%;
	
}
.action-camera{
	width: 62px;
	height: 62px;
	background: #FFFFFF;
	border-radius: 50%;
}
.icon-right-container{
	height: 300px;
	z-index: 0;
	overflow-y: hidden;
	/* margin-right: 8px; */
}
.icon-right-item{
	
}

.icon-action{
	width: 44px;
	height: 44px;
}
.icon-left{
	height: inherit;
}

/* .gallery__thumbnail-img {
	position: absolute;
	inset: 0;
	margin: auto;
} */

/* Swiper class */
.gallery-cards,
.gallery-thumbs,
.gallery-overview,
.gallery-detail {
	max-width: 100vw;
}

.gallery-cards:hover .gallery__img {
	transform: scale(1.1);
}

/* .gallery .swiper-wrapper {
	padding: 1.5rem 0;
} */

.gallery-thumbs, .gallery-detail {
	max-width: 100vw;
	height: 77vh;
	padding: 15px 15px 15px 16px;
	overflow-y: hidden;
	background: #FFFFFF;
	border-radius: 36px 36px 0px 0px;
	position: relative;
}

.list-color{

}
.color-item{
	width: 32px !important;
	height: 32px;
	border-radius: 50%;
	margin-right: 20px;
	position: relative;
	top: 10px;
	left: 10px;
}
.active-color{
	border: 5px solid rgba(179, 179, 179, 0.7);
	width: 40px !important;
	height: 40px;
	border-radius: 50%;
	position: relative;
	left: 6px;
	/* margin-right: 20px; */


}
.colors-wrapper{
	opacity: 0;
	height: 12%;
}
.info-wrapper{
	opacity: 0;
	height: var(--detail-height);
    overflow-y: scroll;
}
.btn-wrapper{
	opacity: 0;
	position: absolute;
  	left: 50%;
	bottom: 3%;
  	transform: translateX(-50%);
	
}
/* Active thumbnail */
.swiper-slide-active .gallery__thumbnail {
	/* transform: translateY(-1.25rem) scale(1.2); */
}

/* Rotate thumbnail */
.swiper-slide-next .gallery__thumbnail {
	/* transform: rotate(15deg); */
}

.swiper-slide-prev .gallery__thumbnail {
	/* transform: rotate(-15deg); */
}

/* Sliding numbers */
.swiper-pagination-fraction {
	font-size: var(--small-font-size);
	letter-spacing: -1px;
	font-weight: 500;
	color: var(--first-color);
	bottom: 0;
}

/* Arrow buttons */
.swiper-button-next::after,
.swiper-button-prev::after {
	content: "";
}

.swiper-button-next,
.swiper-button-prev {
	font-size: 1.5rem;
	color: var(--text-color-black);
	top: 5.5rem;
}

.swiper-button-next {
	right: -1.5rem;
	/* transform: rotate(15deg); */
}

.swiper-button-prev {
	left: -1.5rem;
	/* transform: rotate(-15deg); */
}

/* Other swiper settings */
.gallery-cards::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
	scroll-snap-type: initial;
}
.show-detail{
	width: 48px;
	height: 6px;
	background: #000000;
    opacity: 0.3;
    border-radius: 24px;
}
.filter-item{
    font-weight: 500;
	font-size: 16px;
	color: #A3A3A3;
	transition: transform 0.3s;
	margin-right: 4px;
	height: 30px !important;
}
.filter-item.active-filter {
	/* transform: scale(1.2); */
  }
.active-filter{
	background: #FFEBDF;
	border-radius: 24px;
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
	color: #303030

}
.title{
	font-weight: 500;
	font-size: 16px;
	color: #303030;
}
.overview-content{

}
.btn-buy-bow{
	width: 291px;
	height: 72px;
	background: linear-gradient(180deg, #FF7A00 0%, #FF004D 100%);
	border-radius: 40px;
	border: none;
	color: #ffffff;
	font-weight: 700;
	font-size: 20px;
}
.test-touch{
	height: 30%;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* @media (min-height: 650px) and (max-height: 700px) {
	.gallery__thumbnail-wrapper {
		width: 75px;
		height: 75px;
		border-radius: 50%;
	}
	.gallery__thumbnail{
		width: 65px;
		height: 65px;
	}
	.gallery__thumbnail-img {
		width: 65px;
		height: inherit;
		object-fit: cover;
	}
	.swiper2{
		height: 86px !important;
	}
} */
/* @media screen and (max-width: 380px) {
	.gallery__overflow{
		bottom: 8%;
	}
} */
/* @media (min-height: 550px) and (max-height: 599px) {
	.info-wrapper {
		height: 30%;
		overflow-y: scroll;
	}
}
@media (min-height: 600px) and (max-height: 650px) {
	.info-wrapper {
		height: 35%;
		overflow-y: scroll;
	}
}
@media (min-height: 650px) and (max-height: 700px) {
	.info-wrapper {
		height: 38%;
		overflow-y: scroll;
	}
}
@media (min-height: 800px) and (max-height: 900px) {
	.info-wrapper {
		height: 45%;
		overflow-y: scroll;
	}
} */

/* For medium devices */
@media screen and (min-width: 1024px) {
	.gallery__card {
		width: 220px;
		height: 290px;
	}
	.gallery__thumbnail {
		width: 65px;
		height: 65px;
	}
	.gallery-cards,
	.gallery-thumbs,
	.gallery-overview,
	.gallery-detail
	{
		max-width: 100vw;
	}
}



  @keyframes slide-down {
	0% {
	  transform: translateY(-100%);
	}
	
	100% {
	  transform: translateY(var(--dynamic-height + '%') );
	  
	 
	}
  }
  @keyframes slide-up {
	0% {
	  transform: translateY(-30%);
	}
	
	100% {
	  transform: translateY(-100%);
	 
	}
  }
  @keyframes slide-down-desc {
	0% {
	 opacity:0 ;
	}
	
	100% {
		opacity:1 ;
	 
	 
	}
  }
  @keyframes modal-in {
	0% {
	 opacity:0 ;
	}
	
	100% {
		opacity:1 ;
	 
	 
	}
  }
  @keyframes modal-out {
	0% {
	 opacity:1 ;
	}
	
	100% {
		opacity:0 ;
	 
	 
	}
  }
  @keyframes appear {
	0% {
	  transform: translateX(-100%)
	}
	100% {
		transform: translateX(0%)
	}
  }
  @keyframes appear2 {
	0% {
		transform: translateX(0%)
	}
	
	100% {
		transform: translateX(-100%)
	}
  }


