/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lexend:wght@400;500&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {
	/*========== Colors ==========*/
	--first-color: hsl(30, 16%, 50%);
	--text-color: #fff;
	--text-color-black: hsl(30, 8%, 15%);
	--body-color: hsl(30, 100%, 98%);

	/*========== Font and typography ==========*/
	--body-font: 'Barlow', sans-serif;
	--h3-font-size: 1rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;
	--dynamic-height: 0;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
	:root {
		--h3-font-size: 1.125rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
	}
}

/*=============== BASE ===============*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--body-font);
	background-color: var(--body-color);
	overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

/*=============== GALLERY ===============*/
.gallery {
	height: 100vh;
	/* max-width: 426px; */
	display: grid;
	overflow-y: hidden;
	overflow-x: hidden;
	/* align-content: center; */
	justify-content: center;
	background-color: #ffffff;
}




.gallery__overflow {
	position: relative;
	height: 100%;
	transition: transform 0.3s ease-in-out;
	transform: translateY(var(--dynamic-height));
	
	
}

.gallery__thumbnail {
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	transition: transform 0.3s;
}
.gallery__thumbnail-img{
	width: 80px;
	height: inherit;
	object-fit: cover;
}

.gallery-overview{
	height: calc(100vh /100 * 65);
	/* height: 100vh; */
	position: relative;
	background-color: rgb(212, 194, 194);
	/* background-image: url("https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80");
	background-size: cover; */
}
.overview-header{
	height: 15%;
	width: 100%;
	background: rgba(29, 29, 29, 0.1);
	/* box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.3); */
	backdrop-filter: blur(10px);
	position: fixed;
}
.header-left > img,
.header-right > img{
	width: 24px;
	height: 24px;
	object-fit: cover;
}
.gallery-overview > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
} 

/* .gallery__thumbnail-img {
	position: absolute;
	inset: 0;
	margin: auto;
} */

/* Swiper class */
.gallery-cards,
.gallery-thumbs,
.gallery-overview,
.gallery-detail {
	max-width: 100vw;
}

.gallery-cards:hover .gallery__img {
	transform: scale(1.1);
}

.gallery .swiper-wrapper {
	padding: 1.5rem 0;
}

.gallery-thumbs, .gallery-detail {
	max-width: 100vw;
	height: 100%;
	padding: 15px 15px 15px 16px;
	overflow-y: hidden;
	background: #FFFFFF;
	border-radius: 36px 36px 0px 0px;
	position: relative;
}

.list-color{

}
.color-item{
	width: 32px !important;
	height: 32px;
	border-radius: 50%;
	margin-right: 20px;
}
.active-color{
	border: 5px solid rgba(179, 179, 179, 0.7);
	width: 40px !important;
	height: 40px;
	border-radius: 50%;
	margin-right: 20px;


}
.info-wrapper{
	display: none;
	height: 30%;
    overflow-y: scroll;
}
.btn-wrapper{
	display: none;
	position: absolute;
  	left: 50%;
  	transform: translateX(-50%);
	height: 15%;
}
/* Active thumbnail */
.swiper-slide-active .gallery__thumbnail {
	/* transform: translateY(-1.25rem) scale(1.2); */
}

/* Rotate thumbnail */
.swiper-slide-next .gallery__thumbnail {
	/* transform: rotate(15deg); */
}

.swiper-slide-prev .gallery__thumbnail {
	/* transform: rotate(-15deg); */
}

/* Sliding numbers */
.swiper-pagination-fraction {
	font-size: var(--small-font-size);
	letter-spacing: -1px;
	font-weight: 500;
	color: var(--first-color);
	bottom: 0;
}

/* Arrow buttons */
.swiper-button-next::after,
.swiper-button-prev::after {
	content: "";
}

.swiper-button-next,
.swiper-button-prev {
	font-size: 1.5rem;
	color: var(--text-color-black);
	top: 5.5rem;
}

.swiper-button-next {
	right: -1.5rem;
	/* transform: rotate(15deg); */
}

.swiper-button-prev {
	left: -1.5rem;
	/* transform: rotate(-15deg); */
}

/* Other swiper settings */
.gallery-cards::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
	scroll-snap-type: initial;
}
.show-detail{
	width: 48px;
	height: 6px;
	background: #000000;
    opacity: 0.3;
    border-radius: 24px;
}
.filter-item{
    font-weight: 500;
	font-size: 16px;
	color: #A3A3A3;
	transition: transform 0.3s;
	margin-right: 4px;
}
.filter-item.active-filter {
	/* transform: scale(1.2); */
  }
.active-filter{
	background: #FFEBDF;
	border-radius: 24px;

}
.title{
	font-weight: 500;
	font-size: 16px;
	color: #303030;
}
.overview-content{

}
.btn-buy-bow{
	width: 291px;
	height: 72px;
	background: linear-gradient(180deg, #FF7A00 0%, #FF004D 100%);
	border-radius: 40px;
	border: none;
	color: #ffffff;
	font-weight: 700;
	font-size: 20px;
}
.test-touch{
	height: 35%;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
	.swiper-button-next,
	.swiper-button-prev {
		display: none;
	}
}
@media screen and (max-width: 400px) {
	.gallery-thumbs{
		/* padding: 0 30px ; */
	}
}
@media screen and (max-width: 360px) {
	.gallery-thumbs{
		/* padding: 0 40px ; */
	}
}

@media (min-height: 550px) and (max-height: 599px) {
	.info-wrapper {
		height: 28%;
		overflow-y: scroll;
	}
}
@media (min-height: 500px) and (max-height: 549px) {
	.info-wrapper {
		height: 25%;
		overflow-y: scroll;
	}
	.test-touch{
		
	}
}
/* @media screen and (max-width: 380px) {
	.gallery__overflow{
		bottom: 8%;
	}
} */
/* @media (min-height: 550px) and (max-height: 599px) {
	.info-wrapper {
		height: 30%;
		overflow-y: scroll;
	}
}
@media (min-height: 600px) and (max-height: 650px) {
	.info-wrapper {
		height: 35%;
		overflow-y: scroll;
	}
}
@media (min-height: 650px) and (max-height: 700px) {
	.info-wrapper {
		height: 38%;
		overflow-y: scroll;
	}
}
@media (min-height: 800px) and (max-height: 900px) {
	.info-wrapper {
		height: 45%;
		overflow-y: scroll;
	}
} */

/* For medium devices */
@media screen and (min-width: 1024px) {
	.gallery__card {
		width: 220px;
		height: 290px;
	}
	.gallery__thumbnail {
		width: 65px;
		height: 65px;
	}
	.gallery-cards,
	.gallery-thumbs,
	.gallery-overview,
	.gallery-detail
	{
		max-width: 100vw;
	}
}
